.places {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}
.places h1 {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	margin-left: 31%;
}
.places h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

article:last-child {
	width: 390px;
	margin-top: 20px;
	margin-right: 20%;
	align-self: center;
	justify-self: center;
}